  body {
      background-color: rgb(242, 231, 216);
      font-family: Arial, sans-serif;
  }


  h1 {
      text-align: center;
  }

  #clear {
      margin-left: 20px;
  }


  #clear:hover {
      background-color: #d32f2f;
      /* Mörkröd */
  }

  .navbar {
      display: flex;
      justify-content: center;
      overflow: hidden;
      background-color: #333;
  }

  .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  .navbar a:hover {
      background: #ddd;
      color: black;
  }

  @media screen and (max-width: 600px) {
      .navbar a {
          float: none;
          display: block;
          text-align: center;
      }
  }

  .order-container {
      margin: 20px;
      padding: 20px;
      border: 1px solid #333;
  }

  /* NAVBAR CSS STYLE  */
  .navbar {
      display: flex;
      justify-content: center;
      overflow: hidden;
      background-color: #333;
  }

  .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  .navbar a:hover {
      background: #ddd;
      color: black;
  }

  @media screen and (max-width: 600px) {
      .navbar a {
          float: none;
          display: block;
          text-align: center;
      }
  }